{% extends "product_list/base.html" %}
{% block content %}

<div class="container">
    <h3>Lists:</h3>
    {% if latest_lists %}
        <ul class="list-group">
        {% for list in latest_lists %}
            <li class="list-group-item">
                <a href="{% url 'product_list:detail' list.id %}">{{ list.title }}      </a>
                <a href="#" data-href="{% url 'product_list:remove_list' list.id %}" data-toggle="modal" data-target="#removeListModal" data-name="{{ list.title }}"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No checklists available</p>
    {% endif %}

    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addNewListModal"><span class="glyphicon glyphicon-plus"></span>Add New List</button>

    <a href="{% url 'product_list:items' %}">View all items</a>
</div>

<div id="addNewListModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new list</h4>
      </div>
      <div class="form">
        <form action="{% url 'product_list:add_list' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <label for="list_name">List Name:</label>
                <input class="form-control" type="text" id="list_name" name="title" size="50"/><br>
                <label for="list_status">Status:</label>
                <select class="form-control" id="list_status" name="status">
                    <option value="P">Pending</option>
                    <option value="D">Done</option>
                </select>
            </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-default" value="Save">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
        </form>
    </div>

  </div>
</div>
</div>

<div id="removeListModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remove: </h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove <span class="item-name"></span>?
      </div>
      <div class="modal-footer">
          <a class="btn btn-primary btn-ok">Remove</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
     $('#removeListModal').on('show.bs.modal', function(e){
       $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
       $('.item-name').html('<strong>' + $(e.relatedTarget).data('name') + '</strong>');
    });
</script>
{% endblock %}